    <footer>
        <div class = "div_footer">
            <div class = "lien_menu">
                <a href ="">Accueil</a>
                <a href = "">Notre histoire</a>
                <a href = "">Nos réalisations</a>
                <a href = "">Contact</a>

            </div>
            <div class = "div_logo">
                <a href = "">
                <img src = "./pimpmycar-main/img/Logooff.png" alt = "logo" title = "">
                </a>
            </div>

            <div class = "contact">
                <p> Garage Pimp My Car</p>
                <p> 7 rue des Poutrains</p>
                <p>59200</p>
                <p>Tourcoing</p>
            </div>

        </div>
    </footer>
