@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.div_1 {
    display: flex;
    flex-direction: row;
    justify-content: space space-around;
    margin-top: 100px;
}

.texte {
    color: white;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}



#HistoireGarage{
    border: 1px solid red;
}

body{
    background-image: url(img/Rbis.jpg);
}

#Equipe{
    color: white;

}