.containerCarrousel {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top:100px;
    padding-bottom: 100px;
}

.container {
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.carousel div {
    transform-style: preserve-3d;

}

.item {
    display: block;
    position: absolute;
    border-radius: 10px;
    transition: transform 1s;
}

/* Images carrousel */

.imgCarrousel {
    width: 150px;
    height: 50px;
}

@media (min-width: 768px) {
    .imgCarrousel {
        width: 200px;
        height: 150px;
    }
}

@media (min-width: 1024px) {
    .imgCarrousel {
        width: 250px;
        height: 200px;
    }
}

.pointer:hover {
    cursor: pointer;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
}
.b {
    transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
}
.c {
    transform: rotateY(120deg) translateZ(250px)  rotateY(-120deg);
}
.d {
    transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}
.e {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
}
.f {
    transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
}