@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html {
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.div_1 {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    padding: 0 5rem;
    margin-top: 2rem;
}

.imgGarage {
    width: auto;
    height: 100%;
}

.texteGarage {
    font-family: 'Homemade Apple', cursive;
    font-size: 1.5rem;
    color: #fff;
}