@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

  /* Page réalisation */
  
  .title_card{
    color : white;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    font-size: 2.5rem;
    margin-top: 100px;
  }

.card{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 20px rgb(214, 13, 197);
}