@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

header{
  font-family: 'Luckiest Guy', cursive ;
  font-size: 25px;
}

body {
    margin: 0;
  background-image: url("../../img/Rbis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.div_footer{
  background-color: #060606aa;
  /*background-image: linear-gradient(to bottom, #060606, #0E4DA4, #49A6E5, #34E5E9);*/
  font-family: 'Luckiest Guy', cursive ;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.div_logo img{
  width: 300px;
  height: 200px;
  text-decoration: none;
}

.div_logo{
  color: white;
  
}

.contact{
  padding-top: 10px;
}

.lien_menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}
.lien_menu a {
  text-decoration: none;
  color: white;
}
.navbar {
    background-color: #060606aa;
    background-image: linear-gradient(to top, #060606, #0E4DA4, #49A6E5, #34E5E9);
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    
  }
  .navbar-logo {
    margin-left: 20px;
    height: 120px;
  }

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }



  .navbar .lien:hover {
    background-color: #ddd;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  label {
    font-weight: bold;
    color:white;
  }
  
  input,
  textarea {
    padding: 8px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 90%;
    display: block;
  }
  
  input[type=submit] {
    background-color: #0ae4ec;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }
  
  input[type=submit]:hover {
    background-color: #9c0f9f;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  
  .form-group {
    flex-basis: 50%;
  }
  
  .input-pink{
    background-color: rgb(244, 15, 175);
  }

  .input-blue{
    background-color: #0ae4ec;
  }

  .input-green{
    background-color: rgb(8, 238, 8);
  }

  .mentions{
    color :white;
    font-family: 'Luckiest Guy', cursive;
    margin:auto;
    padding-bottom: 250px;
    text-align: center;
  }

  .mentions p{
    font-size: 25px;
  }
  
  

